sudo: false # faster builds

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'

addons:
  sonarcloud:
    organization: 'weather-plus'

language: java

jdk:
  - oraclejdk8

install:
  - 'mvn install'

script:
  - 'mvn test'
  - 'mvn verify'
  - 'mvn sonar:sonar'

after_success:
  - 'bash <(curl -s https://codecov.io/bash)'
